
						<!--Page header-->
						<div class="page-header">
							<div class="page-leftheader">
								<h2 class="page-title">Create Department</h2>
							</div>
							<div class="page-rightheader ms-auto d-lg-flex d-none">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="javascript:void(0)" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"/><path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"/></svg><span class="breadcrumb-icon"> Home</span></a></li>
									<li class="breadcrumb-item"><a href="javascript:void(0)">Department</a></li>
									<li class="breadcrumb-item active" aria-current="page">Create Department</li>
								</ol>
							</div>
						</div>
						<!--End Page header-->


            <div class="card">
              <form #addForm="ngForm" (ngSubmit)="onAddDepartment(addForm)" class="form-horizontal">
                <div class="card-header">
                  <button type="submit" id="add-department-form" class="btn btn-dark m-3">SAVE</button>
                  <a [routerLink]="['/departments/departments']" class="btn btn-light">DISCARD</a>
                </div>
                  <div class="m-3 row">
                    <div class="col-md-5">
                      <label for="" class="form-label">Department Name:</label>
                      <input type="text" #name (ngModel)="name" id="name" name="name" class="form-control mt-2 text-line" placeholder="Department Name" >
                    </div>
                  </div>

                  <div class="row m-3">
                    <div class="col-lg-6 col-md-12 mb-5">
                      <div class="mb-3 row">
                        <div class="col-md-10">
                          <label for="" class="form-label">Manager:</label>
                          <ng-select #managerid (ngModel)="managerid" name="managerid" id="managerid" class="form-control form-select">
														<ng-option value="">Month</ng-option>
														<ng-option value="1">January</ng-option>
														<ng-option value="2">February</ng-option>
														<ng-option value="3">March</ng-option>
														<ng-option value="4">April</ng-option>
														<ng-option value="5">May</ng-option>
													</ng-select>
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <div class="col-md-10">
                          <label for="" class="form-label">Manager Start Date:</label>
                            <mat-form-field appearance="fill">
                              <mat-label>Choose a date</mat-label>
                            <!-- #docregion toggle -->
                              <input #sdate (ngModel)="sdate" matInput [matDatepicker]="picker">
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                            <!-- #enddocregion toggle -->
                            </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 mb-5">
                      <div class="mb-3 row">
                        <div class="col-md-10">
                          <label for="" class="form-label">Contact No:</label>
                          <input type="text" #contactno (ngModel)="contactno" id="contactno" name="contactno" class="form-control mt-2 text-line" placeholder="Contact Number" >
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <div class="col-md-10">
                          <label for="" class="form-label">Description:</label>
                          <textarea #description (ngModel)="description" class="form-control mt-2 text-line" id="description" name="description" id="" cols="50" rows="5" placeholder="Description"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
              </form>

            </div>










